html {
  font-size: 10px;
}

body {
  font-family: "NotoSansKR-Regular";
}
body .nav_bg {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
  overflow: hidden;
  height: 0;
  left: 0;
  top: 10rem;
  z-index: 100;
  display: none;
}
body header {
  height: 10em;
  z-index: 1000;
  padding: 0 5rem;
}
@media (max-width: 1300px) {
  body header {
    padding: 0 1rem;
  }
}
body header .h_inner {
  border: 1px solid red;
  position: relative;
  height: 100%;
}
body header .h_inner .h_logo {
  width: 15em;
  position: absolute;
  padding: 1em 0;
}
body header .h_inner .h_logo a {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid red;
}
body header .h_inner nav {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 1300px) {
  body header .h_inner nav {
    display: none;
  }
}
body header .h_inner nav ul {
  width: 100%;
  height: 100%;
}
body header .h_inner nav ul li {
  width: 20%;
  position: relative;
}
body header .h_inner nav ul li a {
  display: inline-block;
  font-size: 2.2rem;
  width: 100%;
  height: 100%;
  line-height: 8.5rem;
  font-weight: 500;
  text-align: center;
}
body header .h_inner nav ul li a:hover {
  color: #00BFB6;
}
body header .h_inner nav ul li .depth {
  width: 100%;
  border-top: 1px solid #d1d1d1;
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
  height: 0;
  overflow: hidden;
  z-index: 1000;
}
body header .h_inner nav ul li .depth ul {
  height: 100%;
  border: 1px solid red;
}
body header .h_inner nav ul li .depth ul li {
  width: 100%;
}
body header .h_inner nav ul li .depth ul li a {
  display: block;
  font-size: 2em;
  width: 100%;
  height: 7rem;
  line-height: 7rem;
}
body header .h_inner nav ul li .depth ul li a:hover {
  color: #333;
  background-color: rgba(209, 209, 209, 0.5);
}
body header .h_inner .menu_lang {
  position: absolute;
  right: 0;
  top: 0;
  width: 15rem;
  height: 100%;
  border: 1px solid black;
}
body header .h_inner .menu_lang .langWrap {
  width: 10rem;
  padding: 2rem 0;
  border: 1px solid rebeccapurple;
}
body header .h_inner .menu_lang .langWrap ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  width: 100%;
}
body header .h_inner .menu_lang .langWrap ul li {
  position: relative;
  width: 100%;
}
body header .h_inner .menu_lang .langWrap ul li:first-child::after {
  content: "";
  background: url(../images/downarrow.svg) no-repeat center;
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
body header .h_inner .menu_lang .langWrap ul li a {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  font-family: "Pretendard-Regular";
  line-height: 2;
  padding: 0 2rem;
  width: 100%;
  height: 5rem;
}
body header .h_inner .menu_lang .langWrap ul li .hide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  border: 1px solid #333;
  border-radius: 25px;
  width: 100%;
  height: 5rem;
  line-height: 5rem;
}
body header .h_inner .menu_lang .h_menu a {
  width: 2.6rem;
  height: 2.6rem;
  background: url(../images/menu.svg) no-repeat;
  display: block;
  margin: 2.8rem auto;
  border: 1px solid red;
}
body header .h_inner .menu_lang .m_menu {
  position: relative;
}
body header .h_inner .menu_lang .m_menu a {
  width: 2.6rem;
  height: 2.6rem;
  position: absolute;
  right: 1rem;
  top: 0;
  background: url(../images/menu.svg) no-repeat;
  display: none;
  margin: 2.8rem auto;
  border: 1px solid red;
}
@media (max-width: 1300px) {
  body header .h_inner .menu_lang .m_menu a {
    display: block;
  }
}
body header .h_nav {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: #0F908A;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  display: none;
  -webkit-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
}
@media (max-width: 1300px) {
  body header .h_nav {
    display: none;
  }
}
body header .h_nav h1 a {
  display: block;
  width: 14rem;
  height: 100%;
  margin: 2rem 0 0 5rem;
}
body header .h_nav .close {
  background: url(../images/closebtn_w.svg) no-repeat;
  width: 5rem;
  height: 5rem;
  display: block;
  position: absolute;
  right: 3rem;
  top: 3rem;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
body header .h_nav .close:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
body header .h_nav .h_navInner nav {
  width: 100%;
  margin: 20rem auto;
}
body header .h_nav .h_navInner nav ul {
  width: 100%;
  gap: 4rem;
}
body header .h_nav .h_navInner nav ul li {
  width: 20%;
}
body header .h_nav .h_navInner nav ul li a {
  display: block;
  font-size: 3.8rem;
  height: 7rem;
  line-height: 7rem;
  color: #fff;
  text-align: center;
  position: relative;
}
body header .h_nav .h_navInner nav ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  display: block;
  -webkit-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: -webkit-transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1), -webkit-transform 0.4s cubic-bezier(1, 0, 0, 1);
}
body header .h_nav .h_navInner nav ul li a:hover::before {
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
body header .h_nav .h_navInner nav ul li .h_navDepth ul li {
  width: 100%;
}
body header .h_nav .h_navInner nav ul li .h_navDepth ul li a {
  display: block;
  font-size: 1.8rem;
}
body header .h_nav .sns {
  position: absolute;
  left: 50%;
  bottom: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 10rem;
}
body header .h_nav .sns ul {
  gap: 2rem;
}
body header .h_nav .sns ul li {
  width: 6rem;
  height: 6rem;
}
body header .h_nav .sns ul li a {
  display: inline-block;
  width: 6rem;
  height: 6rem;
}
body header .h_nav .sns ul li .youtube {
  background: url(../images/youtube.svg) no-repeat center;
  background-size: 100%;
}
body header .h_nav .sns ul li .insta {
  background: url(../images/instagram.svg) no-repeat center;
  background-size: 100%;
}
body header .h_nav .sns ul li .twitter {
  background: url(../images/twitter.svg) no-repeat center;
  background-size: 100%;
}
body header .m_nav {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100vh;
  border: 1px solid red;
  z-index: 1000;
  display: none;
  opacity: 0;
}
body header .m_nav .fade-in {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
body header .m_nav .fade-out {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
body header .m_nav .m_closeBtn {
  background: url(../images/m_close.svg) no-repeat center;
  border: none;
  position: absolute;
  right: 2rem;
  top: 2rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 4rem;
  height: 4rem;
}
body header .m_nav .m_closeBtn:hover {
  background: url(../images/m_close-hover.svg) no-repeat;
}
body header .m_nav .m_navInner {
  padding: 2rem;
}
body header .m_nav .m_navInner ul {
  margin: 20rem 0;
}
body header .m_nav .m_navInner ul li a {
  display: block;
  font-size: 3rem;
  font-weight: 700;
  position: relative;
  padding: 0 5rem;
  height: 10rem;
  line-height: 10rem;
  width: 100%;
}
body header .m_nav .m_navInner ul li a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #0F908A;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
body header .m_nav .m_navInner ul li a .active::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}
body header .m_nav .m_navInner ul li .m_navDepth {
  display: none; /* overflow: hidden; */
}
body header .m_nav .m_navInner ul li .m_navDepth ul {
  margin: 0;
}
body header .m_nav .m_navInner ul li .m_navDepth ul li a {
  display: block;
  height: 5rem;
  line-height: 5rem;
  font-size: 2rem;
}
body header .m_nav .m_navInner ul li .m_navDepth ul li a::after {
  content: "";
  display: none;
}
body header .m_nav .m_navInner ul li .m_navDepth ul li a:hover {
  color: #0F908A;
  font-weight: 700;
}/*# sourceMappingURL=header.css.map */