$mobile: 480px;
$tablet: 768px;
$desktop: 1300px;

@mixin desktop{
    @media (max-width: $desktop) {
        @content;
    }
}
@mixin tablet{
    @media (max-width: $tablet) {
        @content;
    }
}
@mixin mobile{
    @media (max-width: $mobile) {
        @content;
    }
}

html{font-size: 10px;}
body{
    $color1:#fff;
    $color2:#999;
    $color3:#0F908A;
    $color4:#00BFB6;
    $color5:#273646;
    font-family: "NotoSansKR-Regular";
    .nav_bg{width: 100%; background-color: rgba($color: $color1, $alpha: 0.9);
        position: absolute; transition: height 0.3s ease; overflow: hidden;
        height: 0;
    left: 0; top: 10rem; z-index: 100; display: none;}
    header{
        height: 10em; z-index: 1000; padding: 0 5rem;
        @include desktop{
            padding: 0 1rem;
        }
        .h_inner{border: 1px solid red; position: relative; height: 100%;
            .h_logo{
                width: 15em; position: absolute; padding: 1em 0;
                a{display: block; width: 100%; height: 100%; border: 1px solid red;}
            }
        
            nav{
                width: 60%; height: 100%; margin: 0 auto; position: relative;

                @include desktop{
                    display: none;
                }

                ul{
                    width: 100%;
                    height: 100%;
                    li{
                        width: calc(100% / 5); position: relative;
                        a{
                            display: inline-block; font-size: 2.2rem; 
                            width: 100%; height: 100%; line-height: 8.5rem;
                            font-weight: 500; text-align: center;
                        &:hover{
                            color: $color4;
                        }
                        }
                        .depth{
                            width: 100%;
                            border-top: 1px solid #d1d1d1;
                            position: absolute; display: none;
                            top: 100%; left: 0; transition: height 0.3s ease;
                            height: 0; overflow: hidden;
                            z-index: 1000;
                            ul{height: 100%; border: 1px solid red;
                                li{
                                    width: 100%;
                                    a{display: block; font-size: 2em; width: 100%; height: 7rem; line-height: 7rem;
                                    &:hover{color:#333; background-color: rgba($color: #d1d1d1, $alpha: 0.5);}}
                                }
                            }
                        }
                    }
                }
            }


            .menu_lang{
                position: absolute; right: 0; top: 0;
                width: 15rem; height: 100%;
                border: 1px solid black;
                .langWrap{
                    width: 10rem; padding: 2rem 0; border: 1px solid rebeccapurple;
                    ul{flex-direction: column; justify-content: center;
                        align-items: center; height: auto; width: 100%;
                        li{position: relative; width: 100%;
                            &:first-child::after{
                                content: ""; background: url(../images/downarrow.svg) no-repeat center;
                                width: 2rem; height: 2rem; position: absolute; right: 1rem; top: 1rem;
                            }
                            a{display: block; font-size: 2rem; font-weight: 500;
                                font-family: 'Pretendard-Regular'; line-height: 2;
                                padding: 0 2rem;
                                width: 100%; height: 5rem;
                            }
                            .hide{display: none; position: absolute; top: 0; left: 0;
                                text-align: center;
                                border: 1px solid #333; border-radius: 25px; width: 100%; height: 5rem; line-height: 5rem; }
                        }
                    }
                }
                .h_menu{
                    a{
                            width: 2.6rem; height: 2.6rem;
                            background: url(../images/menu.svg) no-repeat;
                            display: block; margin: 2.8rem auto; border: 1px solid red;
                        }
                    }
                .m_menu{
                    position: relative;
                    a{
                        width: 2.6rem; height: 2.6rem;
                        position: absolute; right: 1rem; top: 0;
                        background: url(../images/menu.svg) no-repeat;
                        display: none; margin: 2.8rem auto; border: 1px solid red;
                        @include desktop {
                            display: block;
                        }
                    }
                }
                }
            }
        .h_nav{
            position: absolute; left: 0; top: 0;
            z-index: 100; background-color: $color3;
            width: 100%; height: 100%;
            opacity: 0; visibility: hidden; display: none;
            transition: opacity 0.6s ease;
            @include desktop{
                display: none;
            }
            h1{
                a{
                    display: block; width: 14rem; height: 100%;
                    margin: 2rem 0 0 5rem;
                }
            }
            .close{background: url(../images/closebtn_w.svg) no-repeat; width: 5rem; height: 5rem;
                display: block;  position: absolute; right: 3rem; top: 3rem;
                transition: all 0.6s ease;

                &:hover{transform: rotate(180deg);}
            }
            .h_navInner{
                nav{width: 100%; margin: 20rem auto;
                    ul{width: 100%; gap: 4rem;
                        li{
                            width: calc(100% / 5);
                            a{display: block; font-size: 3.8rem; height: 7rem; line-height: 7rem;
                                color: $color1; text-align: center; position: relative;
                                &::before{
                                    content: ""; position: absolute; bottom: 0; left: 0;
                                    width: 100%; height: 1px; background-color: $color1;
                                    display: block;
                                    -webkit-transform-origin: right top;
                                    -ms-transform-origin: right top;
                                    transform-origin: right top;
                                    -webkit-transform: scale(0, 1);
                                    -ms-transform: scale(0, 1);
                                    transform: scale(0, 1);
                                    -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
                                    transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
                                }
                                &:hover::before {
                                    -webkit-transform-origin: left top;
                                    -ms-transform-origin: left top;
                                    transform-origin: left top;
                                    -webkit-transform: scale(1, 1);
                                    -ms-transform: scale(1, 1);
                                    transform: scale(1, 1)
                                }
                            }
                            .h_navDepth{
                                ul{
                                    li{width: 100%;
                                        a{display: block; font-size: 1.8rem;}
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .sns{position: absolute; left: 50%; bottom: 10%; transform: translateX(-50%);
                margin-top: 10rem;
                ul{
                    gap: 2rem;
                    li{width: 6rem; height: 6rem;
                        a{display: inline-block; width: 6rem; height: 6rem;}
                        .youtube{background: url(../images/youtube.svg) no-repeat center; background-size: 100%;}
                        .insta{background: url(../images/instagram.svg) no-repeat center; background-size: 100%;}
                        .twitter{background: url(../images/twitter.svg) no-repeat center; background-size: 100%;}
                    }
                }
            }
        }
        .m_nav{
            position: fixed; left: 0; top: 0; background-color: $color1;
            -webkit-overflow-scrolling: touch; 
            width: 100%; height: 100vh; border: 1px solid red;
            z-index: 1000; display: none; opacity: 0;
            .fade-in{opacity: 1; transition: opacity 0.3s ease;}
            .fade-out{opacity: 0; transition: opacity 0.3s ease;}
            .m_closeBtn{
                background: url(../images/m_close.svg) no-repeat center;
                border: none; position: absolute; right: 2rem; top: 2rem;
                cursor: pointer; transition: all 0.3s;
                width: 4rem; height: 4rem;
                &:hover{
                    background: url(../images/m_close-hover.svg) no-repeat;
                }
            }
            .m_navInner{
                padding: 2rem;
                ul{margin: 20rem 0;
                    li{
                        a{display: block; font-size: 3rem; font-weight: 700;
                            position: relative; padding: 0 5rem;
                            height: 10rem; line-height: 10rem; width: 100%;
                            &::after{content: ""; position: absolute; top: 50%; right: 5rem;
                                transform: translateY(-50%); width: 0; height: 0;
                                border-left: 7px solid transparent; border-right: 7px solid transparent;
                                border-top: 7px solid $color3; transition: transform 0.3s ease;
                            }
                            .active::after{
                                transform: translateY(-50%) rotate(180deg);
                            }
                        }
                        .m_navDepth{
                            display: none; /* overflow: hidden; */
                            ul{margin: 0;
                                li{
                                    a{display: block; height: 5rem; line-height: 5rem; font-size: 2rem;
                                        &::after{content: ""; display: none;}
                                        &:hover{color: $color3; font-weight: 700;}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        }
    }