@import './header';
@import './footer';
@import 'aos/dist/aos.css';


$mobile: 480px;
$tablet: 768px;
$desktop: 1300px;
$color1:#fff;
$color2:#999;
$color3:#0F908A;
$color4:#00BFB6;
$color5:#273646;

@mixin desktop{
    @media (max-width: $desktop) {
        @content;
    }
}
@mixin tablet{
    @media (max-width: $tablet) {
        @content;
    }
}
@mixin mobile{
    @media (max-width: $mobile) {
        @content;
    }
}

body{
    background-color: #fff;
    font-size: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    .main{height: 63rem;
        z-index: 1; margin: 0 5rem; position: relative;
        @include desktop{
            margin: 0 1rem;
        }
        .mainSns{
            position: absolute; right: 0; top: 6rem; z-index: 100;
            @include tablet {
                top: 2rem;
            }
            ul{
                li{
                    &:first-child a{background: url(../images/instagram.svg) no-repeat center; background-size: 100%;}
                    &:nth-child(2) a{background: url(../images/youtube.svg) no-repeat center; background-size: 100%; margin: 2rem 0;}
                    &:last-child a{background: url(../images/twitter.svg) no-repeat center; background-size: 100%;}
                    a{display: block; width: 5rem; height: 5rem;
                        @include tablet {
                            width: 4rem; height: 4rem;
                        }
                    }
                }
            }
        }
        .mainInner{height: 100%;
            .mainBg{position: absolute; bottom: 0; width: 100%; height: 40rem;
                border-radius: 200px; overflow: hidden;
                @include desktop {
                    height: 35rem;
                }
                @include mobile {
                    height: 50%; border-radius: 0;
                }
                img{object-position: center; object-fit: cover; height: 100%; width: 100%;}
            }
            .mainText{position: absolute; left: 10rem; top: 9rem;
                font-family: 'Pretendard-Regular';
                font-size: 3.3vw; font-weight: 700; z-index: 10;
                .char {
                    display: inline-block;
                }
                @include desktop{
                    font-size: 3.6rem; top: 16rem; text-align: center;
                    left: 50%; top: 20rem; transform: translateX(-50%); width: 100%;
                }   
                @include tablet {
                    font-size: 4vw; top: 23rem;
                }
                @include mobile {
                    font-size: 4vw; top: 27rem;
                }
                .first{margin-bottom: 3rem;
                @include desktop {
                    margin-bottom: 1.5rem;
                }
                }
                .second{color: $color1;}
                h3{
                    font-size: 4rem; color: $color1; margin-top: 4rem;
                    font-family: "NotoSansKR-Regular";
                    @include desktop {
                        font-size: 3.6rem;
                    }
                    @include tablet {
                        font-size: 2.6rem;
                    }
                    @include mobile {
                        font-size: 5vw; margin-top: 2rem;
                    }
                }
            }
        }
    }

    .business{margin: 10rem 5rem 0;
        @include desktop{
            padding: 0 1rem; margin: 10rem 0 0 0;
        }
        .businessInner{
            .businessText{
                h1{font-size: 5rem; font-family: 'Pretendard-Bold';
                margin-bottom: 1rem;
                }
                p{font-size: 2rem; font-weight: 300; color: #666;
                    height: 3.5rem; line-height: 3.5rem;
                    position: relative;
                    &::after{
                        content: ""; background: url(../images/next_666.svg) no-repeat;
                        position: absolute; top: 0; left: 20rem;
                        width: 3rem; height: 3rem; display: inline-block;
                    }
                }
            }
            .businessImgbox{
                margin-top: 5rem; gap: 1rem; flex-wrap: wrap;
                .busiImg1{background: url(../images/busi1.jpg) no-repeat center; background-size: cover;}
                .busiImg2{background: url(../images/busi2.jpg) no-repeat center;}
                .busiImg3{background: url(../images/busi3.jpg) no-repeat center; background-size: cover;}
                .busiBox{
                    width: calc(100% / 3 - 1rem); height: 44.4rem;
                    border-radius: 130px;
                    @include desktop{
                        width: 100%;
                    }
                    a{position: relative; overflow: hidden;
                        display: inline-block; width: 100%; height: 100%;
                        text-align: center; padding: 18rem 0;
                        &::before{
                            content: ""; position: absolute;
                            top: 0; left: 0; width: 100%; height: 100%;
                            background-color: rgba(0,0,0,0.1); border-radius: 130px;
                            transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
                        }
                        &:hover::before{
                            background-color: rgba(0,0,0,0.4);
                        }
                        h6{font-size: 3.2rem; font-weight: 600; margin-bottom: 3rem; color: rgba(255,255,255,0.9);
                        position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);}
                        p{font-size: 2rem; font-weight: 300; color: rgba(255,255,255,0.3);   transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
                        position: absolute; bottom: -10rem; left: 50%; transform: translateX(-50%); width: 100%;}
                        &:hover h6{color: $color1; bottom: 50%;}
                        &:hover p{color: $color1; bottom: 40%;}
                    }
                }
            }
        }
    }

    .News{
        background-color: $color3; padding: 3rem 6rem;
        width: 100%; margin-top: 10rem;
        @include tablet {padding: 0 1rem;}
        .NewInner{
            width: 100%; height: 100%; flex-wrap: wrap;
            .NewBox1{
                width: 30%; padding: 15rem 0;
                line-height: 1.5;
                @include desktop {
                    width: 100%; padding: 2rem 0;
                }
                h4{font-size: 3.2rem; font-weight: 400; color: $color1;}
                h1{font-size: 4.2rem; font-weight: 700; color: $color1;
                    span{color: $color1;}
                    .pc-br{display: block;}
                    .desk-text{display: none;}
                    @include desktop {
                        .pc-br{display: none;}
                        .desk-text{display: block;}
                    }
                }
                .Viewmore{display: inline-block;
                    a{display: inline-block; color: $color1; font-size: 1.4rem;
                        position: relative; margin-top: 2rem;
                        &::after{content: ""; display: inline-block; width: 3rem; height: 3rem;
                            position: absolute; right: -4rem; top: -.5rem;
                            background: url(../images/next2.svg) no-repeat center;}
                        }
                }
            }
        .NewBox2{
            width: 70%; padding: 8rem 0;
            @include desktop {
                width: 100%; padding: 4rem 0;
            }
            .NewsDepth{
                width: 100%; height: 10rem; flex-wrap: wrap;
                border: 1px solid $color1; border-left: 0; border-right: 0; border-bottom: 0;
                &:last-child{border-bottom: 1px solid $color1;}
                @include desktop {
                    width: 100%; height: auto;
                }
                span{font-size: 2.8rem; font-weight: 700;
                    margin: 0 2rem; color: $color1;
                    padding: 3rem 0; display: block;
                    font-family: 'Pretendard-Regular';
                    @include desktop {
                        width: 100%; margin: 0;
                    }
                }
                .Day{
                    padding: 1rem 0; text-align: center; margin: 0 2rem;
                    width: 10%;
                    @include desktop {width: 10%; margin: 0;}
                    @include mobile {width: 100%; text-align: left;}
                    p{font-size: 3.8rem; font-weight: 700;
                        color: $color1; margin-bottom: 1rem;
                        font-family: 'Pretendard-Regular';}
                    span{font-size: 1.6rem; font-weight: 700;
                        padding: 0; margin: auto; display: block;
                        font-family: 'Pretendard-Regular';}
                }
                .NewsText{
                    width: 70%; padding: 2rem 0;
                    @include desktop {width: 90%;}
                    @include mobile {width: 100%;}
                    h6{font-size: 1.8rem; font-weight: 400; color: $color1; margin: 0 0 1rem 3rem;
                        overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
                        word-break: break-all; width: auto; 
                        @include mobile {margin: 0 0 1rem 0;}
                    }
                    span{font-size: 1.4rem; font-weight: 100; padding: 0; margin: 0 0 1rem 3rem;
                        overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
                        word-break: break-all; width: auto;
                        @include mobile {margin: 0 0 1rem 0;}
                    }
                }
            }
        }
        }
    }

    .Stock{
        background: url(../images/stock.jpg) no-repeat center;
        width: 100%; height: 100rem; background-size: cover;
        padding: 0 1rem;
        @include desktop {height: auto;}
        // @include tablet {background: url(../images/stock_mob.jpg) no-repeat center;
        //     height: auto; background-size: cover;}
        .StockInner{padding: 8.5rem 5rem;
            flex-wrap: wrap;
            @include tablet {padding: 8.5rem 0;}
            @include mobile {padding: 0;}
            .StockBox1{
                width: 50%; padding: 10rem 0;
                @include desktop {width: 100%;}
                h3{font-size: 4.6rem; font-weight: 700; margin: 10rem 0;
                    @include desktop {margin: 3rem 0 10rem 0;}}
                .StockText{margin-top: 3rem;
                    p{font-size: 3.2rem; color: $color2;}
                    h1{font-size: 10rem; font-weight: 700;}
                    .rise{margin-top: 3rem; 
                        ul{flex-wrap: wrap;
                            li{gap: 2rem;
                                @include mobile {width: 100%;}
                                p{font-size: 3.2rem;
                                    &:nth-child(2){color: $color4;
                                        &::before{content: ""; background: url(../images/uparrow.svg) no-repeat; width: 3rem; height: 3rem;
                                            display: inline-block; margin-right: 1rem;}}}
                                &:first-child::after{content: ""; width: 2px; height: 3.2rem; background-color: #d1d1d1; margin-right: 2rem;
                                    @include mobile {display: none;}}
                                &:last-child{
                                    @include mobile {margin-top: 2rem;}
                                    p{
                                        &::before{display: none;}
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .StockBox2{
                width: 50%; padding: 10rem 0;
                @include desktop {width: 100%;}
                ul{flex-wrap: wrap; gap: 2rem;
                    @include desktop {justify-content: center;}
                    li{width: calc(100% / 2 - 2rem); height: 30rem; background-color: $color1;
                        border-radius: 50px; text-align: center; padding: 11rem 0;
                        box-shadow: 2px 2px 5px rgba($color: #d1d1d1, $alpha: 0.5);
                        @include desktop {width: calc(100% / 2 - 2rem);}
                        @include tablet {width: calc(100% - 2rem)}
                        p{font-size: 3.2rem; font-weight: 100; margin-bottom: 2rem;}
                        span{font-size: 3.5rem; font-weight: 700; display: block;}
                    }
                }
            }
        }
    }


    .employment{
        background: url(../images/employmentBg.jpg) no-repeat center;
        background-size: cover; height: auto; padding: 0 1rem;
        .employmentInner{
            padding: 10rem 0;
            .employmentText{
                flex-wrap: wrap;
                .eText1{width: 80%;
                    @include desktop {width: 100%;}
                    h4{font-size: 3.2rem; font-weight: 700; color: $color1; margin-bottom: 5rem;}
                    p{font-size: 4.2rem; font-weight: 700; color: $color1; line-height: 1.5;}
                }
                .eText2{width: 15%;
                    @include desktop {width: 20rem; margin-top: 3rem;}
                    a{display: inline-block; width: 100%; height: 7rem; border-radius: 100px;
                        border: 1px solid $color1; transition: all 0.5s;
                        &:hover{border: 1px solid transparent; background-color: $color1;}
                        span{font-size: 1.8rem; color: $color1;
                            height: 7rem; transition: all 0.5s;
                            display: inline-block; line-height: 7rem; width: 100%; text-align: center;
                            &:hover{color: #333;}}
                    }
                }
            }
            .eBtn{
                margin-top: 6rem; gap: 2rem; flex-wrap: wrap;
                li{width: calc(100% /3 - 2rem);
                    @include tablet {width: 100%;}
                    a{display: block; background: rgba($color: #fff, $alpha: 0.7);
                        transition: all 0.5s; width: 100%;
                        height: 25rem; border-radius: 50px 25px; padding: 4rem;
                        &:hover{
                            background: rgba($color: #fff, $alpha: 1.0);
                        }
                        @include mobile {height: auto;}
                        i{display: block; width: 6rem; height: 6rem; background-repeat: no-repeat; background-size: cover;}
                        .eImg1{background: url(../images/eBtn1.svg);}
                        .eImg2{background: url(../images/eBtn2.svg);}
                        .eImg3{background: url(../images/eBtn3.svg);}
                        p{font-size: 2.6rem; font-weight: 700; margin: 3rem 0;}
                        span{font-size: 1.6rem;}
                    }
                }
            }
        }
    }
}